/* importing the Poppins font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
  }
  
  
.sub-header{
  display: flex;
  flex-direction: row;
  margin-top: 7%;
  justify-content: center;

}

.btn{
  background-color: transparent;
  border-radius: 8px;
  color:#7d4a95;
  font-weight: 500;
  border: 2px solid #7d4a95;
  margin-left: 2rem;
  margin: 5px;
  z-index: 10;
  padding: 5px;
}

.sub-header a{
  z-index: 10;
}

.btn:hover{
  background-color: #7d4a95;
  color: white;
  cursor: pointer;
}

.btn.active {
  background-color: #7d4a95;
  color: white;
  cursor: default;
}
  .admin-panel {
    display: flex;
    height: 100vh;
  }
  
  .nav-bar {
    margin-top: 50px;
    width: 250px;
    background-color: #b46abb;
    color: white;
    padding: 20px;
  }
  
  .nav-bar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-bar ul li {
    margin: 20px 0;
  }
  
  .nav-bar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 80px;
  }
  
  .section {
    margin: 50px 19%;
  }
  
  .section h2 {
    color: #7d4a95;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section p {
    color: #555;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #a468a9;
    color: white;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  

  
  /* Form Styles */
  .employee-form {
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .container {
    width: 100%;
    max-width: 800px; 
    margin: 0 20px; 
    display: flex;
    flex-direction: column;
  }
  