/* importing Poppins fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  font-family:'Poppins', sans-serif;
}

body{
  margin: 0;
}

.container{
  display: flex;
}

.form{
  display: flex;
  flex-direction: row;
}

.container-main{
  display:flex;
  justify-content: center;
}

.title-text{
  position: absolute;
  top: 30px;
  left: 13.5%;
}


.title-text span{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.container2{
  z-index: 10;
  width: 1000px;
  height: 550px;
  background-color: #e7dde1;
  position: absolute;
  top: 100px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
  
}

.title_container{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}


.logo{
  color: white;
  font-weight: 600;
}

.appointment-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 19%;
  margin-top: 50px; 
}


.service-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #7d4a95;
}

.service-price {
  font-size: 1rem;
  color: #a468a9;
}

.booking-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  color: #7d4a95;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-card {
  position: relative;
  background-color: #f5f5f5;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.service-card img {
  width: 150px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.service-details {
  margin-top: 10px;
}

.service-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #7d4a95;
}

.service-price {
  font-size: 1rem;
  color: #a468a9;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label .service-card {
  border-color: #a468a9;
  background-color: #e5d4e7;
}

label {
  cursor: pointer;
}

.service-card:hover {
  background-color: #e5d4e7;
  border-color: #a468a9;
}

select {
  width: 120px;
  padding: 12px 16px;
  font-size: 15px;
  color: #7d4a95;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  appearance: none; 
  -moz-appearance: none; 
  -webkit-appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

select:focus {
  outline: none;
  border-color: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

select option {
  padding: 10px;
  background-color: #fff;
  color: #7d4a95;
  border-radius: 5px;
}

select option:checked {
  background-color: #f0f0f0;
}

select option:hover {
  background-color: #ddd;
}

.btn2 {
  background-color: #a468a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #be8ab6;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#close-popup {
  margin-top: 10px;
  padding: 10px 20px;
  background: #7d4a95;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#close-popup:hover {
  background: #bb86c0;
}

.available-times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
}

.time-slot {
  display: block;
  padding: 10px;
  background-color: #f0f0f0; 
  border: none;
  border-radius: 10px; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

input[type="radio"] {
  display: none;
}

.booking-section input[type="radio"]:checked + label {
  border: solid 2px #7d4a95;
  
}

.booking-section {
  cursor: pointer;
}


.time-slot:hover {
  background-color: #e0e0e0; 
}

.btn-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle{
  color: #7d4a95;
  margin-top: 10px;
  margin-bottom: 10px;
}
