{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='account-style.css') }}" />
{% endblock head %}

{% block content %}

<div class="container-main">
	<div class="container-body">
    <div class="profile-header">
      <div class="profile-container">
        <div class="propic-container">
          <div class="propic">
          </div>
        </div>
        <div class="proinfo-container">
          <span class="name">
            Rukshan Dinusha
          </span>
          <span class="email">
            Rukshan.Dinusha3@gmail.com
          </span>
          <br>
          <span class="appointments">
            0 Appointments Pending
          </span>
        </div>
        <div class="proedit-container">
          <div class="button-container">
          <a href=" {{ url_for('account_settings')}}"><button class="profile-edit-btn">Edit Profile</button></a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}