{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='account-style.css') }}" />
{% endblock head %}

{% block content %}

<div class="container-main">
	<div class="container-body">
    <div class="profile-header">
      <div class="profile-container">
        <div class="propic-container">
          <div class="propic">
            {% if user.profile_image %}
                        <img src="{{ url_for('static', filename='/profile/' ~ user.profile_image) }}" alt="Profile Image" class="profile-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='/profile/profile.jpg') }}" alt="Default Profile Image" class="profile-image">
                    {% endif %}
          </div>
        </div>
        <div class="proinfo-container">
          <span class="name">
            {{ user.firstname }} {{ user.lastname }}
          </span>
          <span class="email">
            {{ user.email }}
          </span>
          <span class="member_since">
            Member Since: {{ user.created_at.strftime('%B %d, %Y') }}
          </span>
          <br>
          <div class="proedit-container">
            <div class="button-container">
              <a href="{{ url_for('accountSet_profile') }}"><button class="profile-edit-btn">Edit Profile</button></a>
            </div>
          </div>
          <span class="appointments">
            {{ pending_appointments|length }} Appointments Pending
          </span>
        </div>
        
      </div>
    </div>

    <div class="sub_title"><h4>Pending Appointments</h4></div>
    <div class="appointments-section">
      
      {% if pending_appointments %}
      <table>
        <thead>
          <tr>
            <th>Service</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in pending_appointments %}
          <tr>
            <td>{{ appointment.Service.service_name }}</td>
            <td>{{ appointment.Appointment.date.strftime('%B %d, %Y') }}</td>
            <td>{{ appointment.Appointment.time.strftime('%I:%M %p') }}</td>
            <td>{{ appointment.Appointment.payment_status }}</td>
            <td>
              {% if appointment.Appointment.payment_status == 'Pending' %}
              <form action="" method="POST">
                <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                <button type="submit" class="btn-pay">Pay</button>
              </form>
              {% else %}
              <span>Paid</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No pending appointments.</p>
      {% endif %}
    </div>

    
  </div>
</div>

{% endblock content %}
