{% extends "AccountSet.html" %}

{% block settings %}
<div class="setting-sub-container active">
    <form method="POST" action="">
        <div class="title-cont">
            <span>Edit Personal Info</span>
        </div>
        
        <div class="personal-info-cont">
            <div class="personal-info-box">
                <div class="info-col">
                    <div class="r-1">
                        <label class="dob-label" for="dob">Date of Birth</label>
                        <input type="date" name="dob" id="dob" class="dob" value="{{ user.dob }}">
                    </div>
                    <div class="r-2">
                        <label class="age-label" for="age">Age</label>
                        <input type="number" name="age" id="age" class="age" value="{{ user.age }}">
                    </div>
                    <div class="gen-cont">
                        <label class="gender-label" for="gender">Gender</label>
                        <select name="gender" id="gender" class="gender">
                            <option value="Male" {% if user.gender == 'Male' %}selected{% endif %}>Male</option>
                            <option value="Female" {% if user.gender == 'Female' %}selected{% endif %}>Female</option>
                        </select>

                    </div>
                </div>
                <div class="about-col">
                    <label class="about-label" for="about">Address</label>
                    <textarea id="about" name="about" rows="4">{{ user.address }}</textarea>
                </div>
            </div>

            <div class="form-btn-cont">
                <button type="submit" class="submit-btn">Save Changes</button>
                <button type="reset" class="discard-btn">Discard</button>
            </div>
        </div>
    </form>
</div>
{% endblock settings %}
