{% extends "accountSet.html" %}

{% block settings %}
    <div class="setting-sub-container">
        <form method="POST" action="" enctype="multipart/form-data" class="form" >
        <div class="title-cont">
            <span>Edit Profile</span>
        </div>
        <div class="img-main-cont">
            <div class="img-cont">
                <div class="img-holder">
                    {% if user.profile_image %}
                        <img src="{{ url_for('static', filename='/profile/' ~ user.profile_image) }}" alt="Profile Image" class="profile-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='/profile/profile.jpg') }}" alt="Default Profile Image" class="profile-image">
                    {% endif %}
                </div>
            </div>
            <div class="img-btn-cont">
                <div class="change-ctn">
                    <!-- Image Upload Button -->
                    <label for="profile-image" class="upload-btn">Upload Image</label>
                    <input type="file" name="profile_image" id="profile-image" accept="image/*" class="file-input">
                </div>
            </div>
        </div>

        <!-- Profile Edit Form -->
        
            <div class="info-cont">
                <div class="profile-box">
                    <div class="info-col">
                        <div class="r-1">
                            <label class="username-label" for="username">Username</label>
                            <input type="text" name="username" id="username" class="username" value="{{ user.username }}" required>

                            <label class="email-label" for="email">Email</label>
                            <input type="email" name="email" id="email" class="email" value="{{ user.email }}" required>
                        </div>
                        <div class="r-2">
                            <label class="fname-label" for="fname">First Name</label>
                            <input type="text" name="fname" id="fname" class="fname" value="{{ user.firstname }}" required>

                            <label class="lname-label" for="lname">Last Name</label>
                            <input type="text" name="lname" id="lname" class="lname" value="{{ user.lastname }}" required>
                        </div>
                    </div>
                    <div class="about-col">
                        <label class="about-label" for="about">About</label>
                        <textarea id="about" name="about" rows="4">{{ user.about }}</textarea>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="form-btn-cont">
                    <button type="submit" class="submit-btn">Save Changes</button>
                    <button type="reset" class="discard-btn">Discard</button>
                </div>
            </div>
        </form>
    </div>
{% endblock settings %}
