{% extends "AccountSet.html" %}

{% block settings %}
<div class="setting-sub-container">
        <div class="title-cont">
            <span>Edit Personal Info</span>
        </div>
        <div class="personal-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Veniam impedit incidunt rem laboriosam, illum perferendis explicabo corporis ex facere, doloribus neque odio eligendi? Debitis, 
            harum hic. Iste officia cum facere?
        </div>
    </div>
<div class="btn-col">
<div class="btn-1">
    <button class="change-img-btn">save changes</button>
</div>
<div class="btn-2">
    <button class="change-img-btn">discard</button>
</div>
</div>
{% endblock settings %}
