{% extends 'layout.html' %}

{% block content %}
<div class="success-page">
    <h1>Appointment Confirmed!</h1>
    <p>Your appointment has been successfully booked.</p>
    <p><strong>Appointment Token Number:</strong></p>
    <div class="token">{{ token }}</div>
    <p><strong>Amount to Pay:</strong></p>
    <div class="price">Rs. {{ service.price }}</div>

    <div class="payment-options">
      <a href="" class="btn btn-pay-now">Pay Now</a>
      <a href="{{ url_for('home')}}" class="btn btn-pay-later">Pay Later</a>
    </div>
</div>
<script type="text/javascript">
    window.onbeforeunload = function() {
        return "Are you sure you want to leave this page? Your changes may not be saved.";
    };
</script>

{% endblock content %}