{% extends 'layout.html' %}

{% block content %}
<div class="success-page">
    <h1>Appointment Confirmed!</h1>
    <p>Your appointment has been successfully booked.</p>
    <p><strong>Appointment Token Number:</strong></p>
    <div class="token">{{ token }}</div>
    <p><strong>Amount to Pay:</strong></p>
    <div class="price">Rs. {{ service.price }}</div>

    <div class="payment-options">
        <form action="{{ url_for('create_checkout_session') }}" method="POST">
            <input type="hidden" name="service_id" value="{{ service.service_id }}">
            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
            <button type="submit">Pay Now</button>
        </form>
        <a href="{{ url_for('home')}}" class="btn btn-pay-later">Pay Later</a>
    </div>
    
    <script src="https://js.stripe.com/v3/"></script>


{% endblock content %}