<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- importing font awsome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  {% block head %}
  {% endblock %}

  {% if title %}
  <title>Salon Management -{{ title }} </title>
  {% else %}
  <title>Salon Management</title>
  {% endif %}

</head>

{% block content %}
{% endblock %}


</html>
