{% extends "report.html" %}


{% block content2 %}
        <div class="Main-container">
            <div class="container">
                <div class="select-cont">
                    <select id="report_type" name="teport_type">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
                <div class="table-container">
                    <table class="service-table">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Total Appointments</th>
                                <th>Completed</th>
                                <th>Cancelled</th>
                                <th>No Show</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Heshan</td>
                                <td>09:00 AM - 10:00 AM</td>
                                <td>Haircut</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>10:00 AM - 11:00 AM</td>
                                <td>Shave</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>11:00 AM - 12:00 PM</td>
                                <td>Facial</td>
                                <td>$30</td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
            
                    <table class="summary-table">
                        <tbody>
                            <tr>
                                <td>Total Payments</td>
                                <td>$65</td>
                            </tr>
                            <tr>
                                <td>Expenses</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td>Revenue</td>
                                <td>$25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-container">
                    <table class="service-table">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Timeslot</th>
                                <th>Service</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Heshan</td>
                                <td>09:00 AM - 10:00 AM</td>
                                <td>Haircut</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>10:00 AM - 11:00 AM</td>
                                <td>Shave</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>11:00 AM - 12:00 PM</td>
                                <td>Facial</td>
                                <td>$30</td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
            
                    <table class="summary-table">
                        <tbody>
                            <tr>
                                <td>Total Payments</td>
                                <td>$65</td>
                            </tr>
                            <tr>
                                <td>Expenses</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td>Revenue</td>
                                <td>$25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-container">
                    <table class="service-table">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Timeslot</th>
                                <th>Service</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Heshan</td>
                                <td>09:00 AM - 10:00 AM</td>
                                <td>Haircut</td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>10:00 AM - 11:00 AM</td>
                                <td>Shave</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Heshan</td>
                                <td>11:00 AM - 12:00 PM</td>
                                <td>Facial</td>
                                <td>$30</td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
            
                    <table class="summary-table">
                        <tbody>
                            <tr>
                                <td>Total Payments</td>
                                <td>$65</td>
                            </tr>
                            <tr>
                                <td>Expenses</td>
                                <td>$40</td>
                            </tr>
                            <tr>
                                <td>Revenue</td>
                                <td>$25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
{% endblock content2 %}