{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='report-style.css') }}" />
{% endblock head %}

{% block content %}
    <body>
        <div class="sub-header">
            <a href="{{ url_for('report_financial') }}"><button class="btn {% if active_tab == 'financial' %}active{% endif %} ">Finacial Reports</button></a>
            <a href="{{ url_for('report_appointments') }}"><button class="btn {% if active_tab == 'appointments' %}active{% endif %}">Appointment Reports</button></a>
            <a href="{{ url_for('report_customer_trends') }}"><button class="btn {% if active_tab == 'customer' %}active{% endif %}">Customer Trends</button></a>
            <a href="{{ url_for('report_service_trends') }}"><button class="btn {% if active_tab == 'service' %}active{% endif %}">Service Trends</button></a>
            <a href="{{ url_for('report_predict_revenue') }}"><button class="btn {% if active_tab == 'revenue' %}active{% endif %}">Revenue Prediction</button></a>
        </div>
        
        {% block content2 %}
        <section class="content">
            <div class="stock-text">
              <h5>Welcome Admin!</h5>
              <h1>Report Generation</h1>
              <p>Please Select a Report type.</p>
            </div>
            <div class="stock-image">
              <img src="{{ url_for('static', filename='Images/image_2.svg')}}" alt="">
            </div>
          </section>
        {% endblock content2 %}

    </body>
{% endblock content %}