{% extends "report.html" %}

{% block content2 %}
<div class="Main-container">
    <div class="container">
        <div class="title">Appointment Report</div>
        <div class="select-cont">
            <select id="report_type" name="report_type">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
            </select>
        </div>

        <div class="table-container daily-container">
            <table class="service-table">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Total Appointments</th>
                        <th>Completed</th>
                        <th>Cancelled</th>
                        <th>No Show</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heshan</td>
                        <td>09:00 AM - 10:00 AM</td>
                        <td>Haircut</td>
                        <td>$20</td>
                    </tr>
                    
                </tbody>
            </table>

            <table class="summary-table">
                <tbody>
                    <tr>
                        <td>Total Payments</td>
                        <td>$65</td>
                    </tr>
                    <tr>
                        <td>Expenses</td>
                        <td>$40</td>
                    </tr>
                    <tr>
                        <td>Revenue</td>
                        <td>$25</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-container weekly-container" style="display: none;">
            <table class="service-table">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Total Appointments</th>
                        <th>Completed</th>
                        <th>Cancelled</th>
                        <th>No Show</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heshan</td>
                        <td>09:00 AM - 10:00 AM</td>
                        <td>Haircut</td>
                        <td>$20</td>
                    </tr>
                </tbody>
            </table>

            <table class="summary-table">
                <tbody>
                    <tr>
                        <td>Total Payments</td>
                        <td>$65</td>
                    </tr>
                    <tr>
                        <td>Expenses</td>
                        <td>$40</td>
                    </tr>
                        <td>Revenue</td>
                        <td>$25</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-container monthly-container" style="display: none;">
            <table class="service-table">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Total Appointments</th>
                        <th>Completed</th>
                        <th>Cancelled</th>
                        <th>No Show</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Heshan</td>
                        <td>09:00 AM - 10:00 AM</td>
                        <td>Haircut</td>
                        <td>$20</td>
                    </tr>
                    
                </tbody>
            </table>

            <table class="summary-table">
                <tbody>
                    <tr>
                        <td>Total Payments</td>
                        <td>$65</td>
                    </tr>
                    <tr>
                        <td>Expenses</td>
                        <td>$40</td>
                    </tr>
                    <tr>
                        <td>Revenue</td>
                        <td>$25</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        const reportTypeSelect = document.getElementById('report_type');
    
        reportTypeSelect.addEventListener('change', function() {
            const selectedValue = reportTypeSelect.value.toLowerCase();
    
            const tableContainers = document.querySelectorAll('.table-container');
    
            tableContainers.forEach(container => container.style.display = 'none');
    
            const selectedContainers = document.querySelectorAll(`.${selectedValue}-container`);
            selectedContainers.forEach(container => container.style.display = 'block');
        });
    
        reportTypeSelect.dispatchEvent(new Event('change'));
    });
    </script>
    
{% endblock content2 %}
